<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<% if @user == current_user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path(current_user) %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
